---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for item in collections.all %}
{%- if item.url and item.url.indexOf("/ar/") == 0 %}
  {%- for l in ["ar", "en"] %}
  <url>
    <loc>{{ item.url | setLang(l) | absUrl(site.url) }}</loc>
    <xhtml:link rel="alternate" hreflang="ar" href="{{ item.url | absUrl(site.url) }}"/>
    <xhtml:link rel="alternate" hreflang="en" href="{{ item.url | setLang('en') | absUrl(site.url) }}"/>
  </url>
  {%- endfor %}
{%- endif %}
{%- endfor %}
</urlset>
